.side-menu {
    background-color: rgba(229, 227, 227, 0.594);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    overflow-y: auto;

    .menu-list {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    .menu-link {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        transition: 0.3s;
    }

    .menu-link:hover {
        background-color: rgba(189, 188, 188, 0.594);
    }
    li.selected{
      background-color: green;
    }

}
  
  .side-menu::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
  }
  
  .side-menu::-webkit-scrollbar-track {
    background-color: rgba(249, 249, 249, 0.119);
  }